<!--- FOOTER -->
    <footer class="footer mt-auto py-3">
        <div class="container text-center">
            © 2020 The Lighting Converter
        </div>
    </footer>

    <!-- JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
  </body>
</html>